body{
  background-color: #ffffcc
}

.container{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 30px;

}

.droplet1{
  background: #330033;
  border-radius: 5px 50%;
  height: 300px;
  margin-top: 150px;
  animation: rotate 1s 0s infinite ease-in-out alternate;
  width: 300px;
}

.droplet2{
  background: #990099;
  border-radius: 5px 50%;
  height: 300px;
  margin-top: 150px;
  animation: rotatefaster 1s 0s infinite ease-in-out alternate;
  width: 300px;
}

.droplet3{
  background: #ff33ff;
  border-radius: 5px 50%;
  height: 300px;
  margin-top: 150px;
  animation: rotatefastest 1s 0s infinite ease-in-out alternate;
  width: 300px;
}

@keyframes rotatefastest {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(1440deg); }
}

@keyframes rotatefaster {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(720deg); }
}

@keyframes rotate {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(360deg); }
}